/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geomanist";
  src: url("https://ik.imagekit.io/flamefoxeswyvernp/mistrium/font/Geomanist-Book_PRXLN3sR-.otf?ik-sdk-version=javascript-1.4.3&updatedAt=1667356516772")
    format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Geomanist";
  src: url("https://ik.imagekit.io/flamefoxeswyvernp/mistrium/font/Geomanist-Bold_nmOSG7-cH.otf?ik-sdk-version=javascript-1.4.3&updatedAt=1667356516599")
    format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Geomanist";
  src: url("https://ik.imagekit.io/flamefoxeswyvernp/mistrium/font/Geomanist-Medium_JATGJQGWG.otf?ik-sdk-version=javascript-1.4.3&updatedAt=1667356516662")
    format("opentype");
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "Geomanist", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  position: relative;
  font-size: 10px;
}
.admin {
  font-size: unset;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: fit-content;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  line-height: 1.5;
}

input,
select {
  outline: none;
  border: none;
  background-color: transparent;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  bottom: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.5;
}
h1 {
  /* font-size: 4.5rem; */
  font-size: 8rem;
  list-style: 7.6rem;
}
h2 {
  font-size: 2.5rem;
}
/* small-header */
h3 {
  font-size: 2.1rem;
}
/* large-title */
h4 {
  font-size: 1.8rem;
}
/* small title */
h5 {
  font-size: 1.5rem;
}
/* content */
h6,
p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#root {
  height: fit-content;
  /* min-height: 100vh; */
}
:root {
  --black: #000;
  --black-heading: #292019;
  --black-title: #3d3d3f;
  --white: #fff;
  --primary: #c4a586;
  --light-primary: #d9ab82;
  --secondary: #fff4e8;
  --secondary-pink: #fcefe9;
  --secondary-blue: #e8f5ff;
  --secondary-orange: #fae2c8;
  --secondary-green: #e8f5ff;
  --accent: #fe8432;
  --gray: #a9a7a6;
  --gray-light: #d9d7d5;
  --content-color: #72696a;
  --danger: #ff5252;
  --success: #4caf50;
  --warning: #ffc107;

  /* typo */
  --fs-content: 1.8rem;

  /* orther stuff */
  --section-x-padding: 7.5rem;
  --header-height: 8rem;
}
@media screen and (max-width: 1279.98px) {
  html {
    font-size: 9px;
  }
  :root {
    --section-x-padding: 5rem;
  }
}
@media screen and (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
  :root {
    --section-x-padding: 4rem;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.disable_scroll {
  overflow: hidden;
}

/* animation class  */

.cart_active {
  right: 0;
}
.stop_scroll {
  overflow: hidden;
}
input:focus {
  border: var(--primary) !important;
}
